<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - GiftGenie</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styles", required: false)
    @RenderSection("Head", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm mb-4">
        <div class="container-fluid">

            <a asp-controller="Home" asp-action="Index" class="navbar-brand fw-bold">
                GiftGenie
            </a>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navMain">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navMain">
                <ul class="navbar-nav ms-auto">
                    @if (User.Identity?.IsAuthenticated == true)
                    {
                        <li class="nav-item dropdown">
                            <button class="btn avatar-btn dropdown-toggle" data-bs-toggle="dropdown">
                                @User.Identity!.Name
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end fancy-dd">
                                <li>
                                    <a class="dropdown-item" asp-controller="Profile" asp-action="Index">Profile</a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item logout" asp-controller="Account" asp-action="Logout">Log out</a>
                                </li>
                            </ul>
                        </li>
                    }
                    else
                    {
                     
                    }
                </ul>
            </div>
        </div>
    </nav>

    <main class="container">
        @RenderBody()
    </main>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>